.card {
  float: left;
  font-size: 52px;
  margin: 5px;
  border: 1px solid black;
  width: 10%;
  /*height: 140px;*/
  text-align: center;
}
.card-row {
  clear: both;
}
.card p {
  /*border: 1px solid red;*/
  margin: 15px 0 15px 0;
  /*display: inline-block;*/
  /*vertical-align: middle;*/

}
aside {
  float: left;
  width: 15%;
  border: 1px solid green;
  padding-left: 10px;
}
#board {
  float: right;
  width: 80%;
  border: 1px solid red;
  margin-top: 10px;
}
.hidden {
  background-color: blue;
  height: 100px;
}
.hidden p {
  display: none;
}
